<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%- sitedata[page].title %></title>
<meta name="description" content="<%- sitedata[page].description %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta property="og:title" content="<%- sitedata[page].title %>">
<meta property="og:description" content="<%- sitedata[page].description %>">
<meta property="og:type" content="<%- page === 'top' ? 'website' : 'article' %>">
<meta property="og:url" content="<%- sitedata[page].url %>">
<meta property="og:image" content="<%- sitedata[page].ogimage %>">
<meta property="fb:app_id" content="＊＊＊＊">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%- sitedata[page].title %>">
<meta name="twitter:description" content="<%- sitedata[page].description %>">
<meta name="twitter:url" content="<%- sitedata[page].url %>">
<meta name="twitter:image" content="<%- sitedata[page].twittercard %>">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="canonical" href="<%- sitedata[page].url %>">
